/* General */
* {
  font-size: 100%;
  margin: 0;
  padding: 0;
}

.App {
  height: 100vh;
}

/* Navbar */
.Header {
  display: flex;
  flex-direction: column;
  font-size: 6rem;
  color: rgb(221, 198, 89);
  text-align: left;
  background-image: linear-gradient(
    170deg,
    rgb(136, 0, 21) 25%,
    rgb(184, 96, 109)
  );
  background-color: rgb(136, 0, 21);
  border-bottom: 2px solid black;
  padding: 0.1em 0.5em 0.35em;
}

.Header h1 {
  text-shadow: 3px 2px black;
}

.LoginNav {
  font-size: 1.2rem;
  width: fit-content;
  position: relative;
  left: 25rem;
  text-shadow: 1.5px 1px black;
}

.LoginNav:hover {
  cursor: pointer;
  color: rgb(251, 231, 130);
  text-decoration: underline;
}

/* Item Page */
.ItemPage {
  background-image: url("./assets/yellow_wood_oak.jpg");
  background-position: fixed;
  padding-bottom: 2em;
}

/* Item */
.Item {
  display: flex;
  font-size: 1.5rem;
  text-align: center;
  background-color: moccasin;
  width: 70%;
  margin: 0 auto;
  margin-top: 1em;
  border-radius: 20px;
  padding: 2em;
  box-shadow: 8px 9px 5px -4px rgb(27, 27, 27),
    -8px 9px 5px -4px rgb(27, 27, 27);
  transition: 0.375s;
}

.Item:hover {
  cursor: pointer;
  width: 80%;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  padding: 2.5em;
  box-shadow: 12px 20px 15px -4px rgb(8, 8, 8),
    -12px 20px 15px -4px rgb(8, 8, 8);
}

.Item section {
  margin: auto;
}

.Item section h2 {
  font-size: 2rem;
}

.Item img {
  height: 200px;
  width: 200px;
}
