/* General */
* {
  font-size: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
}

.App {
  text-align: center;
  height: 100vh;
  background-image: url("./assets/yellow_wood_oak.jpg");
  /* background-size: cover; */
  /* background-repeat: no-repeat; */
}

/* Navbar */
.Navbar {
  display: flex;
  font-size: 5rem;
  color: rgb(221, 198, 89);
  text-align: start;
  background-image: linear-gradient(
    0deg,
    rgb(136, 0, 21) 80%,
    rgb(161, 61, 76) 90%,
    rgb(170, 96, 107)
  );
  background-color: rgb(136, 0, 21);
  border-bottom: 2px solid black;
  border-radius: 0 0 15% 15%;
  padding-left: 1em;
  padding-top: 0.35em;
  height: 2em;
}
/* Item Page */
.ItemPage {
}

/* Item */
.Item {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.5rem;
  background-color: moccasin;
  width: 70%;
  margin: 0 auto;
  margin-top: 1em;
  padding: 2em;
}

.Item section {
  margin: auto;
}

.Item section h2 {
  font-size: 2rem;
}

.Item button {
  display: flex;
  background-color: brown;
  height: 2em;
  width: 2em;
}